.footer {
    margin-top: 50px;
}

.footer-list {
    padding-left: 0;
}

.footer-list__item h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.footer-list__item ul {
    padding-left: 0;
}

.footer-list__item ul li {
    list-style: none;
    font-size: 1.4rem;
    margin: 10px 0;
}

.footer-list__item ul li a {
    color: var(--text-color);
}

.footer-list__item ul li a img {
    width: 160px;
    height: 110px;
}

.footer-bottom {
    background-color: #363738;
}

.footer-bottom__list {
    display: flex;
    padding: 10px 0;
    margin-bottom: 0;
    position: relative;
}

.footer-bottom__list-item {
    list-style: none;
    font-size: 1.6rem;
    margin: 0 10px;
}

.footer-bottom__list-item span {
    color: #c8ccbb;
    margin-left: 16px;
}

.footer-bottom__list li a {
    color: var(--white-color);
    font-weight: 300;
}

.footer-bottom__list li a:hover {
    text-decoration: none;
}

.footer-newsletter {
    width: 100%;
    overflow: hidden;
    color: #000;
    background-color: #ede734;
    margin: 40px 0;
}

.footer-newsletter-subscribe, .footer-newsletter-btn {
    padding: 40px 0;
}

.footer-newsletter-subscribe h2 {
    font-size: 2.6rem;
}

.footer-newsletter-btn button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: var(--black-color);
    color: var(--white-color);
    min-height: 50px;
    padding: 0 40px;
}

.footer-newsletter-btn button:hover {
    color: var(--dark-grey-color);
}