/* bộ sưu tập jeremyscott */

.jeremyscott {
    border-top: 1px solid #ccc;
}

.jeremyscott-item {
    padding-left: 0;
    margin: 20px 0;
}

.jeremyscott h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.item-img {
    position: relative;
}

.item-img:hover {
    transition: all 0.4s;
    transform: translateY(-10px);
    opacity: 1;
}

.item-price {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 0 6px;
}

.item-action__name {
    font-size: 1.6rem;
    color: var(--black-color);
    margin-top: 10px;
}

.item-action__style {
    font-size: 1.2rem;
    color: var(--dark-grey-color);
}

/* bộ sưu tập tripleblack */

.tripleblack-banner__img {
    min-height: 30vh;
    position: relative;
}

.tripleblack-banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.tripleblack-banne__content {
    position: absolute;
    top: 60px;
    left: 124px;
}

.tripleblack-banner__img .tripleblack-banne__content h2 {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: bold;
}

.tripleblack-banne__content p {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
}

.tripleblack {
    border-top: 1px solid #ccc;
}

.tripleblack h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.tripleblack-item {
    padding-left: 0;
    margin: 20px 0;
}

.tripleblack-item:hover {
    text-decoration: none;
}

/* bộ sưu tập supernova */

.supernova {
    border-top: 1px solid #ccc;
}

.supernova h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.supernova-item {
    padding-left: 0;
    margin: 20px 0;
}

/* bộ sưu tập superstart giày */

.superstart {
    border-top: 1px solid #ccc;
}

.superstart h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.superstart-item {
    padding-left: 0;
    margin: 20px 0;
}

/* bộ sưu tập adizero chạy */

.adizero {
    border-top: 1px solid #ccc;
}

.adizero h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.adizero-item {
    padding-left: 0;
    margin: 20px 0;
}

/* bộ sưu tập manchester united FC */

.manchester {
    border-top: 1px solid #ccc;
}

.manchester h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.manchester-item {
    padding-left: 0;
    margin: 20px 0;
}

/* bộ sưu tập quần vợt giày */

.quanvotgiay {
    border-top: 1px solid #ccc;
}

.quanvotgiay h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.quanvotgiay-item {
    padding-left: 0;
    margin: 20px 0;
}

.quanvotgiay-banner__img {
    position: relative;
    min-height: 30vh;
}

.quanvotgiay-banner__img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.quanvotgiay-banner__content {
    position: absolute;
    top: 180px;
    left: 120px;
}

.quanvotgiay-banner__content h2 {
    color: var(--black-color);
    font-size: 4rem;
    font-weight: 500;
}

.quanvotgiay-banner__content p {
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 500;
}

.quanvotgiay-title {
    display: flex;
    justify-content: center;
}

.quanvotgiay-title p {
    font-size: 2rem;
    color: var(--black-color);
}

/* bộ sưu tập be */

.be {
    border-top: 1px solid #ccc;
}

.be h2 {
    padding-top: 60px;
    font-size: 4rem;
    font-weight: 400;
}

.be-item {
    padding-left: 0;
    margin: 20px 0;
}