.product-item__wrapper a {
    text-decoration: none;
    color: var(--black-color);
}

/* quần áo nam */

.MClothes, .WClothes, .CClothes {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.clothes-item {
    padding-left: 0;
    margin-bottom: 30px;
}

.Pitem__img {
    position: relative;
}

.Pitem__img:hover {
    transition: all 0.4s;
    transform: translateY(-10px)
}

.Pitem__price {
    position: absolute;
    bottom: -2px;
    padding-left: 10px;
}

.Pitem__price span {
    font-size: 1.4rem;
    background: var(--white-color);
    padding: 0 10px;
}

.Pitem__action-name {
    font-size: 1.6rem;
    color: var(--black-color);
    margin-top: 10px;
}

.Ptem-action__style span {
    font-size: 1.4rem;
    color: var(--black-color);
}

/* giày nam */

.MShoes, .WShoes, .CShoes {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.shoes-item {
    padding-left: 0;
    margin-bottom: 30px;
}

.header-top__wrap {
    padding-left: 0;
    margin-bottom: 30px;
}

.breadcrumbs__menu ul {
    display: flex;
    padding-left: 0;
}

.breadcrumbs__menu ul li {
    list-style: none;
}

.breadcrumbs__menu ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
}

.breadcrumbs__menu ul li a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.breadcrumbs__menu ul li span {
    margin: 0 6px;
    font-size: 1.6rem;
}

.header-title h2 {
    padding-left: 0;
    font-size: 4rem;
    font-weight: 400;
}

/* phụ kiện nam */

.MAccessories, .WAccessories, .CAccessories {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.accessories-item {
    padding-left: 0;
    margin-bottom: 30px;
}

/* tất cả sản phẩm nam */

.product-men, .product-women, .product-children {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.product__men-item, .product__women-item, .product__children-item {
    padding-left: 0;
    margin-bottom: 30px;
}