.page-product__detail {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.detail-right__style {
    font-size: 1.4rem;
    color: var(--black-color);
    margin-bottom: 10px;
}

.detail-right__name {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
}

.detail-right__price {
    font-size: 2rem;
    color: var(--black-color);
    margin-bottom: 10px;
    font-weight: 500;
}

.detail-right__size {
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 500;
}

.right-size__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-left: 1px solid rgb(233, 236, 239);
    margin: 10px 0;
}

.right-size__box button {
    background: var(--white-color);
    border-top: 1px solid rgb(233, 236, 239);
    border-right: 1px solid rgb(233, 236, 239);
    border-bottom: 1px solid rgb(233, 236, 239);
    border-left: none;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.detai-right__btn button {
    margin-top: 10px;
    border: none;
    outline: none;
    background: var(--black-color);
    color: var(--white-color);
    min-width: 310px;
    min-height: 50px;
    font-size: 1.8rem;
    font-weight: 500;
}

.detai-right__btn button:hover {
    color: var(--dark-grey-color);
    border: var(--dark-grey-color);
}

.detai-right__policy {
    margin-top: 20px;
}

.detai-right__policy p a {
    color: var(--black-color);
    font-size: 1.6rem;
}

.detai-right__policy p a:hover {
    background: var(--black-color);
    color: var(--white-color);
}